{% extends 'base.html' %}

{% block title %} Home: Be-Rozgar {% endblock %}
{% block content %}
<div class="container-fluid row justify-content-center">
    {% if not session.get('user_email', None) %}
    <div class="container-fluid py-5 px-lg-5 bg-light d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-5 bg-white p-4 p-md-5 rounded border mt-4 mb-5">
            <div class="text-center mb-4">
                <h1 class="mb-1 text-dark fw-bold">Be-Rozgar</h1>
                <p class="text-muted">Join us and shape your future.</p>
                <h2>Login/Register</h2>
                <p><a href="{{ url_for('login') }}" class="btn btn-primary">Login</a> or <a
                        href="{{ url_for('register') }}" class="btn btn-secondary">Register</a></p>
            </div>
        </div>
    </div>
    {% else %}
    <!-- {{session.get('user_role') | list}}  -->
    {% if 'admin' in session.get('user_role') | list %}
    {% include 'admin_dashboard.html' %}
    {% elif 'student' in session.get('user_role', None) | list %}
    {% include 'student_dashboard.html' %}
    {% else %}
    {% include 'company_dashboard.html' %}
    {% endif %}
    {% endif %}

</div>
{% endblock %}
